body{
    font-family: Georgia, 'Times New Roman', Times, serif;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color:lightgreen;
    height:100vh;
align-items: center;
}
.content{
    width: 350px;
    height: 610px;
    position:relative;
    overflow: hidden;
}
img{
    object-fit: cover;
    position: absolute;
    top:0;
    left:0;
    width:100%; height: calc(100% - 61px);
    transition: opacity 1s ease;

}
/* nav{
   margin-top: -2px;
   bottom:0;
   left:0;
   
}
nav ul{
    display: flex;
    background-color: aliceblue;
}


nav li{
color :black;
cursor: pointer;
flex:1;
text-align: center;
padding:10px;
} */
nav{
    position: absolute;
    bottom: 0;
    left: 0;
    margin-top: -5px;
    width: 100%;
}
nav ul{
    background-color:beige;
    display: flex;
    list-style-type: none;
    padding: 0;
    margin: 0;
    height: 60px;
}
nav li{
    color: black;
    cursor: pointer;
    flex: 1;
    padding: 11px;
    text-align: center;
}
nav ul li p{
    font-size: 13px;
    margin: 2px 0;
}
nav ul li:hover, nav ul li.active{
    color: rgba(170, 100, 34, 0.667);
}